/*==========  header  ==========*/
header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 48px 0;
  z-index: 3; }

.logo {
  max-width: 233px;
  width: 100%;
  margin: 0 auto 0 0; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 58px 0 0;
  font-size: 20px; }
  .menu li {
    margin: 0 29px 0 0; }
  .menu li a {
    color: #fff;
    position: relative;
    z-index: 1;
    padding: 0 5px; }
    .menu li a:before {
      content: '';
      position: absolute;
      left: 0;
      width: 0;
      -webkit-transition: .3s ease;
      transition: .3s ease;
      height: 100%;
      background: #2BC6F4;
      z-index: -1; }
    .menu li a:hover:before {
      width: 100%; }

.btn-burger {
  width: 24px;
  height: 16px;
  cursor: pointer;
  margin: 0 0 0 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none; }
  .btn-burger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #FFFFFF;
    border-radius: 2px; }

/*==========  section end  ==========*/
/*==========  mobile-menu  ==========*/
.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  max-width: 290px;
  background: #fff;
  overflow-y: auto;
  z-index: 5;
  padding: 30px;
  left: -100%;
  -webkit-transition: .7s ease;
  transition: .7s ease; }
  .mobile-menu .logo {
    margin: 0 auto 0 0;
    max-width: 180px; }
  .mobile-menu .menu {
    margin: 30px auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .mobile-menu .menu li {
      width: 100%;
      text-align: center;
      margin: 0 auto 20px; }
      .mobile-menu .menu li:last-child {
        margin: 0 auto; }
      .mobile-menu .menu li a {
        text-align: center;
        color: #000;
        margin: 0 auto; }
  .mobile-menu .phone, .mobile-menu .mail {
    color: #2BC6F4;
    font-size: 22px;
    text-align: center;
    margin: 0 auto 20px; }
  .mobile-menu .address {
    text-align: center;
    max-width: none;
    margin: 30px auto 0;
    font-size: 16px;
    width: 100%;
    line-height: normal;
    font-weight: normal; }
  .mobile-menu.open {
    left: 0; }

.btn-close {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 30px;
  right: 20px;
  cursor: pointer; }
  .btn-close:before, .btn-close:after {
    content: '';
    position: absolute;
    left: 12px;
    top: 0;
    width: 2px;
    height: 100%;
    background: #000;
    border-radius: 3px; }
  .btn-close:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .btn-close:after {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }

/*==========  mobile-menu end  ==========*/
